@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: 'Rubik', sans-serif;
	--font-serif: 'Merriweather Variable', serif;
	--font-mono: 'Cascadia Code', monospace;

	--color-text: #120f07;
	--color-foreground: var(--color-text);
	--color-background: #f4f1eb;
	--color-primary: #cfc7ab;
	--color-secondary: #a5cac7;
	--color-accent: #97a5bf;

	--color-text-dark: #f8f5ed;
	--color-foreground-dark: var(--color-text-dark);
	--color-background-dark: #14110b;
	--color-primary-dark: #544c30;
	--color-secondary-dark: #355a57;
	--color-accent-dark: #404e68;
}

html {
	scroll-padding-top: 6.5rem;
	scroll-behavior: smooth;
}

.app-container {
	@apply container mx-auto px-6 sm:px-12 2xl:px-16;
}

#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

.btn-primary {
	@apply w-fit flex gap-2 bg-primary dark:bg-primary-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.btn-secondary {
	@apply w-fit flex gap-2 bg-secondary dark:bg-secondary-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.section-title {
	@apply text-4xl font-semibold pb-3;
}

.posts-grid-container {
	@apply grid my-6 md:grid-cols-2 xl:grid-cols-4 gap-6;
}

/* Post content */
.prose iframe {
	@apply my-16 mx-auto w-11/12 aspect-video rounded-xl;
}

.prose a {
	@apply text-primary no-underline dark:text-primary-dark hover:underline hover:decoration-2 hover:underline-offset-2;
}

.prose blockquote {
	@apply border-primary;
}

.prose ::marker {
	@apply text-primary dark:text-primary-dark;
}
