@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: 'Georgia', 'Times New Roman', serif;
	--font-mono: 'JetBrains Mono Variable', monospace;

	--color-foreground: #1a1a1a;
	--color-foreground-dark: #e8e6e3;
	--color-background: #f4f1ea;
	--color-background-dark: #2e2721;
	--color-primary: #8b6f47;
	--color-primary-dark: #c9a167;
}

html {
	scroll-padding-top: 6.5rem;
	scroll-behavior: smooth;
}

.app-container {
	@apply container mx-auto px-6 sm:px-12 2xl:px-16;
}

#mobile-menu.mobile-nav-open {
	@apply translate-x-0 shadow-xl/30;
}

.btn-primary {
	@apply w-fit flex gap-2 bg-foreground text-background dark:bg-foreground-dark dark:text-background-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.btn-secondary {
	@apply w-fit flex gap-2 bg-foreground/10 text-foreground dark:bg-foreground-dark/10 dark:text-foreground-dark px-5 py-3 md:px-4 md:py-2 rounded-lg items-center mt-4 hover:opacity-75 transition-opacity;
}

.section-title {
	@apply text-4xl font-semibold pb-3;
}

.posts-grid-container {
	@apply grid my-6 md:grid-cols-2 xl:grid-cols-4 gap-6;
}

/* Post content */
.prose iframe {
	@apply my-16 mx-auto w-11/12 aspect-video rounded-xl;
}
