---
import { Picture } from 'astro:assets'
const { title, pubId, imageSrc } = Astro.props
---

<div class="relative">
	{/* Skeleton Loader */}
	<div
		class="skeleton-loader absolute inset-0 animate-pulse rounded-xl opacity-0 transition-opacity duration-300"
	>
		<div class="grid grid-cols-2 gap-4 p-12 lg:px-48">
			<div class="dark:bg-primary-dark bg-primary h-10 rounded-md lg:h-22">
			</div>
			<div class="dark:bg-primary-dark bg-primary h-10 rounded-full lg:h-22">
			</div>
			<div class="dark:bg-primary-dark bg-primary h-10 rounded-lg lg:h-22">
			</div>
			<div class="dark:bg-primary-dark bg-primary h-10 rounded-md lg:h-22">
			</div>
		</div>
	</div>

	{/* Image */}
	<Picture
		src={imageSrc}
		alt={title}
		formats={['avif', 'webp', 'jpg']}
		priority
		class="relative rounded-xl"
		layout="constrained"
		transition:name={`blog-cover-${pubId}`}
		onload="this.previousElementSibling.classList.add('opacity-0'); clearTimeout(this.dataset.timer)"
	/>
</div>
<script is:inline>
	document.querySelectorAll('.skeleton-loader').forEach((skeleton) => {
		const img = skeleton.nextElementSibling
		const timer = setTimeout(() => {
			if (!img.complete) {
				skeleton.classList.remove('opacity-0')
			}
		}, 1000)
		img.dataset.timer = timer
	})
</script>
