---
import { SITE_BASE } from '@/consts'
import { Icon } from 'astro-icon/components'
import { type Lang } from '@/i18n'
const locale = Astro.currentLocale as Lang
const { class: className } = Astro.props
const isActive = Astro.url.pathname.startsWith(`/${locale}/locale`)
---

<div class="flex items-center justify-center">
	<a
		href={`${SITE_BASE}/${locale}/locale`}
		aria-label="Select Language"
		class:list={[`${className}`, { active: isActive }]}
	>
		<Icon
			name="mdi:translate"
			class="text-2xl duration-0 md:text-xl"
			aria-hidden
		/>
	</a>
</div>
<style>
	@reference "@/styles/global.css";

	a {
		@apply hover:text-accent dark:hover:text-accent-dark;
	}
	a.active {
		@apply text-accent dark:text-accent-dark;
	}
</style>
