---
import BaseHead from '@/components/BaseHead.astro'
import Header from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'
import { SITE_TITLE } from '@/consts'
import { LOCALES, type Lang } from '@/i18n'

interface Props {
	title?: string
	description?: string
}

const locale = Astro.currentLocale as Lang
const { title, description } = Astro.props

import '@fontsource-variable/inter'
import '@fontsource-variable/jetbrains-mono'
---

<!doctype html>
<html
	transition:name="root"
	lang={LOCALES[locale]?.lang || locale}
	dir={LOCALES[locale]?.dir || null}
>
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body
		class="text-foreground bg-background font-light dark:text-foreground-dark dark:bg-background-dark transition-colors"
	>
		<Header title={SITE_TITLE} transition:animate="none" />
		<slot transition:animate="slide" />
		<Footer transition:animate="none" />
	</body>
</html>
